/EagleProxy/EagleProxy.iml
/EagleProxy/target/
/EagleProxy/.idea/
/EagleProxy/OldCode/

/EagleServer/EagleServer.iml
/EagleServer/target/
/EagleServer/.idea/

/EagleExpansion/Eagle-Expansion.iml
/EagleExpansion/target/
/EagleExpansion/.idea/

/EagleLib/EagleLib.iml
/EagleLib/target/
/EagleLib/.idea/

/.idea/
/Eagle.iml
